@font-face {
  font-family: didot;
  src: url(./assets/GFSDidot-Regular.ttf);
}

body {
  margin: 0px;
  color: white;
  font-family: 'didot';
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  height: 10vh;
  background-color: black;
}

.header-element {
  cursor: pointer;
  padding: 8px;
}

.header-element:hover {
  background-color: black;
  opacity: 0.8;
}

.body {
  background-image: url(assets/spontini.jpg);
  font-size: 55px;
  height: 82vh;
  place-content: center;
}

.body-element {
  display: grid;
  place-content: center;
  background-color: black;
  padding-bottom: 10px;
}

.logo {
  background-image: url(./assets/logo-spontini.png);
  height: 125px;
}

.expect {
  background-color: #0369a1;
  margin-top: 20px;
}

.menu {
  color: white;
  font-size: 35px;
  font-weight: 700;
  height: 82vh;
  background-image: url(assets/spontini.jpg);
  display: grid;
  place-content: center;
}

.headers-menu {
  display: grid;
  place-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #0369a1;
}

.container-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 30px;
  font-weight: 400;
}

.menu-elements {
  background-color: black;
  display: grid;
  place-content: center;
}

.contact-page {
  background-image: url(assets/spontini.jpg);
  height: 82vh;
  place-content: center;
  text-align: center;
}

.contact-elements {
  background-color: #0369a1;
  color: white;
  font-size: 35px;
  width: 75vw;
}

.footer {
  color: white;
  font-size: 30px;
  height: 8vh;
  margin: 0px;
  display: grid;
  place-content: center;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: grid;
}